* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html, body {
    font-family: 'Anton', sans-serif;
    height: 100%;
}
  
button, a {
    cursor: pointer;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: block;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.logo {
    margin-right: 70px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 50px 0px;
}

.nav_container {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    margin-right: 40px;
}

.nav li:last-child {
    margin-right: 0px;
}

.nav a {
    color: #FFF;
    text-align: right;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.nav a:hover {
    color: #ff9500;
}

.tel p {
    color: #FFF;
    text-align: right;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.burning_man {
    position: absolute;
    top: 35%;
}

.burning_man h3 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.burning_man h2 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.tickets {
    background: none;
    border: 1px solid #FFF;
    padding: 15px 55px 15px 55px;
    transition: 0.3s;
}

.tickets:hover {
    border: 1px solid #ff9500;
    transition: 0.3s;
    transform: scale(1.05);
}

.tickets:hover a {
    color: #ff9500;
}

.tickets a {
    color: #FFF;
    text-align: center;
    font-family: Anton;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.about h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    text-transform: uppercase;
    margin-top: 115px;
    margin-bottom: 60px;
}

.about img {
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.about h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    position: relative;
    bottom: -20px;
}

.about p {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 70px;
}

.project_name {
    display: flex;
    margin-top: 115px;
}

.project_name p {
    margin-right: 55px;
    margin-bottom: 80px;
}

.about img {
    transition: 1s;
    display: block;
}

.about img:hover {
    transform: scale(1.05);
}